<turbo-frame id="<%= dom_id basket %>">
  <div class="p-1 m-1 w-96 bg-white-200 rounded overflow-hidden shadow-lg shadow-slate-300 border-2 border-slate-100 hover:shadow-lime-100 hover:border-1 hover:border-lime-100">
    <div class="grid grid-cols-2 divide-x-2 divide-gray-100">
      <%= image_tag(basket.image_name, class: "block object-contain h-32 box-border") %>
      <div class="pl-2 box-border">
        <p class="text-center text-2xl border-b-2 border-gray-100">
          <strong> <%= basket.name %> </strong>
        </p>
        <div class="flex justify-between mt-1">
          <span>Total Item</span>
          <span><%= basket.basket_items.size %></span>
        </div>
        <div class="flex justify-between mt-1">
          <span>Retrieved Item</span>
          <span><%= basket.basket_items.select { |bi| !bi.pending? }.size %></span>
        </div>
        <div class="flex justify-between mt-1">
          <span>Pending Item</span>
          <span><%= basket.basket_items.select { |bi| bi.pending? }.size %></span>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2">
      <%= button_to "Remove", basket_path(basket), method: :delete, data: { turbo_frame: :_top, turbo_confirm: "delete?" }, class: "w-full btn bg-red-100 mr-2 px-2" %>
      <%= button_to "Reset All", toggle_items_path(basket, status: BasketItem::Statuses::PENDING ), method: :patch, data: { turbo_frame: dom_id(basket)}, type: "button", class: "w-full btn bg-cyan-100 mr-2 px-2" %>
    </div>
      <%= button_to "Pickup All", toggle_items_path(basket, status: BasketItem::Statuses::PICKED_UP), method: :patch, data: { turbo_frame: dom_id(basket)}, type: "button", class: "w-full btn bg-red-100 mr-2 px-2" %>
  </div>
</turbo-frame>
