<%= form_with(model: basket, id: "basket_form") do |form| %>
  <% if basket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(basket.errors.count, "error") %> prohibited this basket from being saved:</h2>
      <ul>
        <% basket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>

    <div class="bg-slate-100 max-w-xl p-1 m-1 bg-white-200 rounded overflow-hidden shadow-lg shadow-slate-300 border-2 border-slate-200 hover:shadow-lime-100 hover:border-1 hover:border-slate-400">
    <%= image_tag(basket.image_name, class: "block object-contain h-32 box-border mb-2") %>
    <div class="px-2">

      <div class="grid grid-cols-6 gap-2 mb-2">
        <%= form.number_field :quantity, in: 1..100, step: 1, class: "col-span-1 border-slate-300 shadow-md shadow-slate-200 focus:ring-0 focus:border-0 focus:border-b-2" %>
        <%= form.select :measure, MeasureEnum.options_as_input, { prompt: "none" },  class: "col-span-2 border-slate-300 shadow-md shadow-slate-200 focus:ring-0 focus:border-0 focus:border-b-2"  %>
      </div>
      <%= form.text_area :note, placeholder: "Note", rows: 3, class: "w-full border-slate-300 shadow-md shadow-slate-200 focus:ring-0 focus:border-0 focus:border-b-2" %>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <button type="button" data-action="modal#close" class="btn-outline">Abandon</button>
      <%= form.submit "Create", class: "btn bg-cyan-100", data: { modal_target: "submitButton" } %>
    </div>
  </div>
<% end %>
