<%= turbo_frame_tag basket_item do %>
  <main class="my-3 grid grid-cols-2 grid-rows-2 gap-1 shadow-slate-300 shadow-lg border-2 border-slate-100 hover:shadow-lime-100 hover:border-1, hover:border-lime-100">
    <div class="border-b-2 border-slate-100">
      <h3 class="m-auto text-center">
        <%= basket_item.name %>
      </h3>
    </div>

    <div class="grid grid-cols-2 mt-0">
      <%= button_to "Edit", edit_basket_item_path(basket_item), method: :get, data: { turbo_frame: "edit_basket_item" }, class: "w-full btn m-0 ring-1 ring-cyan-100 hover:bg-cyan-100" %>
      <%= button_to "#{basket_item.pending? ?  "Done" : "Undo"}", basket_item_path(basket_item, basket_item: { status: basket_item.toggled_status }), method: :patch, class: "m-0 w-full btn  #{basket_item.pending? ? "bg-lime-100" : "bg-cyan-100" }", data: { turbo_frame: dom_id(basket_item) } %>
    </div>

    <div class="flex justify-between">
      <span class="mx-2">
        <small>
          <%= basket_item.qty_measure_to_words %>
        </small>
      </span>
      <span class="mx-2">
        <small>
          <%= basket_item.basket&.name %>
        </small>
      </span>
    </div>

    <div class="flex justify-end">
      <span class="mx-2">
        <small>
          <%= basket_item.updated_at.strftime("%b-%d %H:%M") %>
        </small>
      </span>
    </div>
  </main>
<% end %>
