<div id="<%= dom_id basket_item %>">
  <p>
    <strong>Basket:</strong>
    <%= basket_item.basket_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= basket_item.item_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= basket_item.name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= basket_item.note %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= basket_item.quantity %>
  </p>

  <p>
    <strong>Measure:</strong>
    <%= basket_item.measure %>
  </p>

</div>
