<div class="card m-1 shadow bg-body rounded" style="max-width: 540px; min-width: 240px;">
  <div class="row g-0">
    <div class="col-md-12">
      <%= link_to(item,  data: { turbo_confirm: "Are you sure?", turbo_method: :delete }) do %>
        <span style="position: absolute; right: 5px; top: 5px; color: white; background-color: red; border-radius: 50%; width: 1.5em; height: 1.5em; text-align: center">
          X
        </span>
      <% end %>
      <h3 class="card-title text-center">
        <%= item.name %>
      </h3>
      <div class="card-text text-center">
        </small>
          <%= "#{item.quantity} x #{item.measure}" %>
        </small>
      </div>
        <% if item.pending? %>
          <%= link_to "Pickup", basket_item_path(item, basket_item: { status: BasketItem::Statuses::PICKED_UP }), data: { turbo_method: :patch }, class: "btn border-primary w-100" %>
        <% else %>
          <%= link_to "Mark Pending", basket_item_path(item, basket_item: {status: BasketItem::Statuses::PENDING}), data: { turbo_method: :patch }, class: "btn border-warning w-100" %>
        <% end %>
    </div>
  </div>
</div>
