<%= turbo_stream_from "basket_item_list" %>
<div data-controller="basket-items">
  <%= turbo_frame_tag "basket_items" do %>
    <div class="m-auto max-w-7xl">
      <div class="flex flex-wrap justify-center">
        <%= form_with(url: basket_items_path, method: :get, data: { turbo_frame: "basket_items" }) do |form| %>
          <%= form.select :basket_id, options_for_select(@baskets.pluck(:name, :id), @search_basket), { include_blank: true }, { :onchange => "this.form.submit()" } %>

          <%= form.text_field :query, class: "", value: @search_value %>

          <%= form.submit 'Search', name: nil, class: "btn" %>
        <% end %>
        <%= link_to "Add New", new_basket_item_path, data: { turbo_frame: "new_basket_item" }, type: "button", class: "inline btn bg-purple-100" %>
      </div>
      <div class="flex flex-wrap justify-center" id="basket_item_list">
        <% @basket_items.each do |basket_item| %>
          <%= turbo_stream_from basket_item %>
          <%= render partial: "basket_item", locals: { basket_item: basket_item } %>
        <% end %>
      </div>
      <div class="justify-center">
        <%== pagy_nav(@pagy) %>
      </div>
    </div>
  <% end %>
</div>


<%= turbo_frame_tag "new_basket_item" %>
<%= turbo_frame_tag "edit_basket_item" %>

