<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= item.user_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= item.note %>
  </p>

  <p>
    <strong>Typical quantity:</strong>
    <%= item.typical_quantity %>
  </p>

  <p>
    <strong>Typical measure:</strong>
    <%= item.typical_measure %>
  </p>

  <%= image_tag(item.image_name, height: 64) %>

</div>
